<div class="container">
  <h2 class="my-3">フォローリスト</h2>
  <div class="row border border-dark rounded">
    <% @users.each do |user| %>
      <%= link_to user_path(user.id), class: "css-text-decolate mx-2 my-3 text-dark" do %>
        <div class="col-md-12 border border-dark rounded">
          <%= attachment_image_tag user, :image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", size: "50x50", class: "rounded-circle" %>
          <%= user.name.truncate(9) %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <div class="mx-auto"><%= paginate @users %></div>
  </div>
</div>