<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center text-danger"><strong>
          ダイエットや運動の様子を投稿し、</br>
          他のユーザーと共有を行うことができるアプリ「ESNS」です。</br></br>
          ダイエットなどに取り組まれているユーザーの投稿を見てやる気を出したり、</br>
          ユーザーが実践しているダイエット方法を、</br>
          あなたは投稿から探す事ができます。</br></br>
          時にはユーザーにコメントなどでコンタクトを取り、</br>
          価値の有るコミュニケーション関係を築きましょう。</br></br>
        </strong></p>
        <p class="text-center text-danger font3">
          <strong>「全てのダイエットや運動を行う方を応援します。」</strong>
        </p>
      </div>
    </div>
  </div>
</div>