<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <p class="text-center text-danger font1">
          Exerciseを行いたい</br>
          全ての人へ贈る</br>
          SNS</br>
        </p>
        <p class="text-center text-danger font2"><strong>「ESNS」</strong></p>
      </div>
    </div>
  </div>
</div>