<div class="search_form">
  <%= form_with url: search_path, method: :get, local:true do |f| %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索", class: "ml-3" %>
  <% end %>
</div>