<div class="container">
  <div class="row">
    <div class="col-md-8">
      投稿一覧部分
    </div>
    <div class="col-md-4">
      <div class="row ml-0">
        検索部分
      </div>
      <div class="row ml-0">
        新規投稿部分
      </div>
    </div>
  </div>
</div>