<div class="container">
  <div class="row">
    <div class="col-md-8">
      <% @posts.each do |post| %>
        <!--ユーザー・ジャンル表示部-->
        <div class="row">
          <%= attachment_image_tag @test, :image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", size: "50x50", class: "circle" %>
          <%= @test.name %>
        </div>
        <!--投稿・画像表示部-->
        <div class="row">

        </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <div class="row ml-0">
        検索部分
      </div>
      <div class="row ml-0">
        新規投稿部分
      </div>
    </div>
  </div>
</div>