<div class="container">
  <div class="row mt-3">
    <div class="col-8 jscroll">
      <p>"<%= @keyword %>"の検索結果一覧</p>
      <div class="next-jscroll" id="search_index">
        <%= render "posts/index", posts: @search_posts %>
      </div>
      <%= link_to_next_page @search_posts, 'Next Page', class: "next next-jscroll" %>
    </div>

  </div>
</div>