<div class="container">
  <div class="row mt-3">
    <div class="col-8", id="index">
      <p>"<%= @keyword %>"の検索結果一覧</p>
      <!--一覧部分テンプレート-->
      <%= render "posts/index", posts: @search_posts %>
    </div>

    <div class="col-4 my-3">
      <p class="mt-3 mb-0">検索</p>
      <div class="row ml-0">
        <%= render "posts/search" %>
      </div>
      <p class="mt-3 mb-0">投稿</p>
      <div class="row ml-0">
        <!--投稿部分テンプレート-->
        <%= render "posts/new", post: @post %>
      </div>
    </div>
  </div>
</div>